<div class="panel panel-info">
	<div class="panel-heading">
		<h2>Create a new contact</h2>
	</div>
	<div class="panel-body">
		<%= render 'form' %>
	</div>
</div>

<%= link_to 'Back', contacts_path, {:style=>'color:#FFFFFF;', :class => "pull-right"} %>
